.home {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  width: 100%;
  max-width: 384px;
  margin: 0 auto;
  padding: 32px 16px;
}

.company {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
}

.signOut {
  padding: 0;
  border: 0;
  background: none;
  color: inherit;
  text-decoration: underline;
  cursor: pointer;
}
